{% extends 'layouts/base.html.twig' %}

{% block title %}Find all the best pins on earth
{% endblock %}

{% block body %}
{% if pins|length >0 %}
	<h1 calss="mb-4 text-center text-muted"><center>{{ pluralize(2 ,'Pin','Pins') }}</center>
	</h1>
	{% for row in pins|batch(3) %}
	<div class="row mb-5">
	{% for pin in row %}
	<div class="col-md-4">
		<article class="bg-white rounded shadow">
		<div class="mw-100 rounded-top overflow-hidden">
		<a href="{{ path ('app_pins_show', {id: pin.id})}}">
				<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/1.jpg')) | imagine_filter('my_fixed_filter') }}" alt="{{ pin.title }}" class="w-100"/>
		
		</a>
		</div>
			<h2 class="h5 pl-3 pt-3"><a class="text-secondary text-decoration-none" href="{{ path ('app_pins_show', {id: pin.id})}}">{{ pin.title }}</a></h2>
			
            <p class="pl-3 pb-3 text-muted">
			<small>
			 Submitted by {{ pin.user.FullName }}</small> </p>

		</article>
		</div>
	{% endfor %}
	</div>
	{% endfor %}
	{% else %}
	<p class="h1 mt-5 text-center">No pins yet. <a href="{{ path('app_pins_create') }}" > Be the first </a></p>
    {% endif %}
{% endblock %}
